/* cascading style sheets 
three way to used 
inline 
in header ( embeded styling)
and also in a seprate file */
/* syntax */

em {
    color: rebeccapurple;
}

setector{
    width: 50%;
    border: 2px salmon;
}
fonts{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aquamarine;
}

text{
    text-align: center;
}

border{
    border-top: 2px saddlebrown;
}

effects{
    animation: cubic-bezier(0.645, 0.045, 0.355, 1);

}

   